.color_coded

CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
cmake_install.cmake
compile_commands.json
install_manifest.txt

*.user
*.ninja
.*ninja_*
*.cbp

*.exe
*.dll
*.so
*.a

build
debug
release

test/benchmark
test/userinput

benchmark

doxygen
