[submodule "third_party/stb/stb"]
	path = third_party/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/cmake-conan"]
	path = third_party/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
	branch = master
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "third_party/utf8proc"]
	path = third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
	branch = master
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad/
	branch = glad2
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected
[submodule "third_party/optional"]
	path = third_party/optional
	url = https://github.com/TartanLlama/optional
