CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.user
*.ninja
.*ninja_*
*.cbp

# binaries

*.exe
*.dll
*.so
*.a

build
debug
release

test/benchmark
test/userinput

benchmark

doxygen
